<label for="note_<%= stepNum %>_on">Note On/Off</label>
<input type="checkbox" name="note_<%= stepNum %>_on">
<label for="step_<%= stepNum %>_val">Note Number</label>
<input type="range" name="step_<%= stepNum %>_val" min="0" max="127">
